@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 266 56% 8%;
    --foreground: 0 0% 98%;
    --card: 266 50% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 266 56% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 52% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 48% 48%;
    --secondary-foreground: 0 0% 98%;
    --muted: 266 30% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 231 48% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 266 30% 20%;
    --input: 266 30% 20%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 266 56% 8%;
    --foreground: 0 0% 98%;
    --card: 266 50% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 266 56% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 52% 50%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 48% 48%;
    --secondary-foreground: 0 0% 98%;
    --muted: 266 30% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 231 48% 48%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 266 30% 20%;
    --input: 266 30% 20%;
    --ring: 231 48% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
